@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0097B2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-rgb);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
