@import "flag-icon-css/css/flag-icons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0097B2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-rgb);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


footer {
  position: relative;
  width: 100%;
  height: 50vh;
  background: #ffffff;
  overflow: hidden;
  min-height: 100px;

}

.social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.social_icon li a {
  justify-content: center;
  display: flex;
  padding: 20px 6px;
  align-items: center;
  transition: 0.5s;
}

.social_icon li a:hover {
  transform: translateY(-10px);
}
